## NUMPY AND PANDAS FEATURES

In [14]:

import pandas as pd
import numpy as np
df=pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
c = df.transform(func = lambda x : x + 10)
c

    a   b   c
0  11  12  13
1  14  15  16
2  17  18  19

In [10]:
A=df.transform(func=['sqrt'])
A

          a         b         c
       sqrt      sqrt      sqrt
0  3.316625  3.464102  3.605551
1  3.741657  3.872983  4.000000
2  4.123106  4.242641  4.358899

In [28]:

import json
data={'name':'ayo','age':27,'hobbies':['singing','dancing']}
with open('dd.json','w') as file:
     json.dump(data,file,indent=2)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      int32
 2   c       3 non-null      int32
dtypes: int32(3)
memory usage: 108.0 bytes

In [32]:
df.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [33]:
df.isnull()

       a      b      c
0  False  False  False
1  False  False  False
2  False  False  False

In [34]:
df.notnull()

      a     b     c
0  True  True  True
1  True  True  True
2  True  True  True

In [37]:
import numpy as np
a=np.array([0,2,3,4,5])
a

array([0, 2, 3, 4, 5])

In [39]:
type(a)

numpy.ndarray

In [40]:
a.dtype

dtype('int32')